/*Schriftart und co*/
body {
    margin: 0px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-left: 100px;
  padding-right: 20px;
}

header {
    height: 80px;
    box-shadow: 0px 5px 13px 2px rgba(225, 224, 224, 0.144);
    display: flex;
    justify-content: right; /* WICHTIG */
    align-items: center;
    padding-right: 100px;

}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}