/*Schriftart und co*/
body {
    margin: 0px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
background: radial-gradient(circle at top, #15192b 0, #05060a 55%);

  margin: 0;
  min-height: 100vh;
}



header {
    height: 80px;
    box-shadow: 0px 5px 13px 2px rgba(105, 104, 104, 0.068);
    display: flex;
    justify-content: space-between; /* WICHTIG */
    align-items: center;
    padding-right: 100px;
   
}

header a {

    color: rgb(144, 179, 179);
}

header a:hover {
transform: translateY(-2px);
color: rgb(124, 233, 233);
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.uberschrift {

    display: flex;
    justify-content: center;
    padding-bottom:50px ;
    font-size: 40px;
    
}

.con {

    display: flex;
    justify-content: center;
    padding-bottom:50px ;
    font-size: 30px;
    
}